.img-carru {
  width: auto;
  height: auto;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section_article {
  height: 95%;
  background-color: #FFFFFF;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
}

.section_article:hover {
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
  -webkit-box-shadow: 0 0.1rem 0 0.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1rem 0 0.4rem rgba(0, 0, 0, 0.3);
}

.section_article_img {
  width: 100%;
}

.footer {
  background-color: black;
  padding: 4rem;
  color: white;
}

.footer .footer_section {
  float: right;
}

.footer .footer_a {
  color: #ffff;
  text-decoration: none;
}

.footer .footer_a:hover {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #8c8c8c;
}

.link {
  color: white;
  background-color: black;
  padding: 2rem;
}

.link_titulo {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.link a {
  color: #ffff;
  text-decoration: none;
}

.link a:hover {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #8c8c8c;
}

.link_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hamburgesa {
  padding: 0;
}

.hamburgesa .navbar-colors {
  background-color: black;
}

.hamburgesa .navbar-colors .boton {
  border: solid 1px white !important;
  opacity: 0.5;
}

.hamburgesa .ancors {
  border-radius: 10px;
  background-color: black !important;
}

.hamburgesa .ancors .nav-link {
  color: #ffff;
  -webkit-transition: color 0.3s ease !important;
  transition: color 0.3s ease !important;
}

.hamburgesa .ancors .nav-link:hover {
  -webkit-transition: color 0.3s ease !important;
  transition: color 0.3s ease !important;
  color: #8c8c8c;
}

@media screen and (min-width: 992px) {
  .hamburgesa {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .link_nav {
    display: none !important;
  }
  .main_contacto {
    margin: 0;
  }
  .form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .carrusel {
    display: none !important;
  }
  .img_section2 {
    width: 100%;
  }
  .img_section {
    margin: 1rem;
  }
  .videos {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .section_article {
    margin: 0;
    padding: 1rem;
  }
  .img_section2 {
    width: 100%;
  }
  .tabla {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */