
.img-carru{
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.section_article{

    height: 95%;
    background-color: map-get($colores,letras );
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
            
         &:hover{
            @include trans
          }
         &_img{
             width: 100%;
            
          }
}

.footer{
    background-color: map-get($colores, secundario );
    padding: 4rem;
    color: map-get($colores,letras );


    .footer_section{
        float: right;
        
        
    }
    
    .footer_a{
        color: map-get($colores,letras );
        text-decoration: none;
    }
    .footer_a:hover{
        @include trans
    }
}

