
.img-carru{
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.section_article{

    height: 95%;
    background-color:map-get($colores,letras );
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
            
         &:hover{
            @extend .section_article
          }
         &_img{
             width: 100%;
            
          }
}

