*{
    font-family: 'Oswald', sans-serif;
    
}

.img-carru{
    width: auto;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.section_article{

    height: 95%;
    background-color:#fff;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
    
            
         &:hover{
            @extend .section_article;
            transition: color 0.3s ease;
            color: #8c8c8c;
            box-shadow: 0 0.1rem 0 0.4rem rgba(0,0,0,0.3);
          }
         &_img{
             width: 100%;
            
          }
}

