.link {
    color: map-get($colores,letras );
    background-color: map-get($colores, principal);
    padding: 2rem;;
    
    &_titulo{
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
    }

     a{
        color: map-get($colores,letras );
        text-decoration: none;
    }
     a:hover{
        
        @include trans
     }
      
    &_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
.hamburgesa{
    padding: 0;
    
    .navbar-colors{
        background-color: map-get($colores,secundario );

        .boton{
            border: solid 1px white !important;
            opacity: 0.5;
        } 

    }

    .ancors{
        border-radius: 10px;
        background-color: black !important;
         
        .nav-link{
            color: #ffff;
        }
        .nav-link:hover{
            @include trans
        }
        
    }

  
}